.section-search {
  padding: 60px 0 0;
  .container {

  }
}
  .raliance-form-wrap {
    padding: 20px 20px 20px;
    background-color: $white;
    border: 1px solid #D6D7D9;
    @include border-radius();
  }

    .raliance-form {}
      .filter-box {

      }
      .filter-bottom-group {
        display: none;
        > * {
          //&:not(:first-child) {
            border-top: 1px solid #E6E6E6;
          //}
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .filter-top-group {
        label {
          display: block;
          font-family: $font-main;
          font-size: $size-13;
          font-weight: $medium;
          line-height: 1;
          padding-bottom: 3px;
        }
      }
          .filter-top-group-list {
            margin: 0 -10px -10px;
            text-align: center;
            > li {
              display: inline-block;
              width: -webkit-calc(#{$coll-12-1 * 3} - 6px);
              width: calc(#{$coll-12-1 * 3} - 7px);
              padding: 0 5px;
              margin-bottom: 15px;
              text-align: left;
              vertical-align: top;
              &:last-child {
                width: -webkit-calc(#{$coll-12-1 * 6} - 6px);
                width: calc(#{$coll-12-1 * 6} - 6px);
                margin-bottom: 7px;
                padding-top: 8px;
                text-align: center;
              }
            }
            a.clear-filter-group,
            .clear-filter-group {
              float: left;
              display: inline-block;
              padding-top: 6px;
              padding-right: 20px;
            }
            .filter-group-title {
              margin-top: 16px;
            }
            a.btn-apply,
            .btn-apply {
              float: right;
              margin-left: 20px;
              min-width: 110px;
            }
            a.btn-show-more,
            .btn-show-more {
              padding-left: 20px;
              padding-right: 20px;
            }
            a.btn,
            .btn {

            }
          }

            .input-box {
              position: relative;
              input {
                position: relative;
                z-index: 2;
                &.clear + .clear-input,
                &:active + .clear-input,
                &:focus + .clear-input {
                  opacity: 1;
                }
              }
              .clear-input {
                position: absolute;
                z-index: 5;
                right: 13px;
                top: 50%;
                font-size: 13px;
                color: #B3B3B3;
                @include transform(0, -50%);
                @include transition();
                opacity: 0;
                cursor: pointer;
              }
            }
        .filter-group {
          padding-top: 18px;
          padding-bottom: 17px;
        }
          .filter-group-list {
            margin: 0 -10px;
            > li {
              display: inline-block;
              width: -webkit-calc(#{$coll-12-1 * 4} - 6px);
              width: calc(#{$coll-12-1 * 4} - 6px);
              padding: 0 10px;
              vertical-align: top;
            }
          }
            .filter-group-title {
              margin-top: 3px;
              margin-bottom: 6px;
              font-size: $size-smaller;
              font-weight: $medium;
              letter-spacing: -.03em;
              line-height: $line-height-middle;
            }
            .filter-group-desc {
              display: block;
              margin-bottom: 6px;
              font-size: 12px;
              line-height: $line-height-middle;
              //letter-spacing: .01em;
              //word-spacing: -.1em;
              color: #949494;
            }
            .clear-filter-group {}
            .filter-check-list {
              > li {
                &:not(:last-child) {
                  margin-bottom: 5px;
                }
              }
            }
              .check-style,
              .radio-style {
                span {
                  font-family: $font-main;
                  font-size: $size-smaller;
                  font-weight: $medium;
                  line-height: 1.1;
                  color: #131617;
                }
              }
    .filter-btn-box {
      padding-top: 30px;
      padding-bottom: 12px;
      text-align: center;
      vertical-align: middle;
      > * {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

.view-filter-print-box {
  overflow: hidden;
  margin-top: 28px;
  margin-bottom: 12px;
  a.btn_print,
  .btn_print {
    float: right;
    min-width: 140px;
    padding-top: 10px;
    padding-bottom: 6px;
    font-weight: $medium;
    text-transform: capitalize;
    .fas {
      position: relative;
      top: -2px;
      left: -7px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}































.section-result {
  margin-top: -14px;
  padding-bottom: 138px;
  .container {
  }
  .view-header {
    margin-top: 32px;
    margin-bottom: 33px;
    border-top: solid 1px #aeaeae;
    .inner {
      display: inline-block;
      margin-bottom: 8px;
      padding-right: 20px;
      font-size: $size-small;
      font-weight: $medium;
      line-height: $line-height-middle;
      background-color: $color-bg7;
      @include transform(0, -13px);
    }
    .content {
      max-width: 630px;
      font-size: $size-smaller;
      letter-spacing: -.01em;
      word-spacing: .02em;
      line-height: 1.45;
    }
  }
}
    .result-list {
      margin: 0 -7px -20px;
      > li {
        position: relative;
        display: inline-block;
        width: calc(#{$coll-10-1 * 5} - 3px);
        margin-bottom: 20px;
        padding: 0 7px;
        vertical-align: top;
      }
    }
      .result-box {
        min-height: 333px;
        //padding: 0 10px 10px 0;
        background-color: $white;
        @include border-radius();
        .content {
          max-width: 350px;
          margin-bottom: 36px;
          font-size: $size-smaller;
          line-height: 1.45;
          word-spacing: -.03em;
        }
        a.btn,
        .btn {
          min-width: 128px;
          span[class^="raliance-"] {
            position: relative;
            top: -2px;
            padding-left: 6px;
            font-size: 7px;
            line-height: 10px;
            //padding-right: 11px;
            //top: -1px;
            &:before {
              @include transition($transition-link);
            }
          }
        }
      }
        .result-ico {
          float: left;
          width: 62px;
          height: 51px;
          color: $white;
          text-align: center;
          background-color: $color-bg3;
          @include border-radius(0 0 4em 4em);
          .fas {
            font-size: 30px;
            line-height: 50px;
          }
          .fa-minus {
            font-size: 28px;
          }
          .fa-angle-up {
            font-size: 40px;
            line-height: 44px;
          }
          .red & {
            background-color: $color-bg4;
          }
          .orange & {
            background-color: $color-bg5;
          }
        }
        .result-desc {
          overflow: hidden;
          padding: 30px 20px 10px;
        }
          .result-title {
            margin-bottom: 13px;
            font-weight: $black;
            font-size: $size-main;
            line-height: $line-height-middle;
          }
          .result-sub-title {
            display: block;
            margin-bottom: 10px;
            font-size: $size-smaller;
            font-weight: $medium;
            line-height: $line-height-middle;
          }
          a.result-visit-link,
          .result-visit-link {
            position: relative;
            display: inline-block;
            margin-bottom: 16px;
            font-size: $size-smaller;
            line-height: $line-height-middle;
            color: $color-text3;
            &:after {
              position: absolute;
              content: '';
              right: 0;
              bottom: 1px;
              width: calc(100% - 30px);
              height: 1px;
              background-color: $color-bg3;
              @include transition($transition-link);
            }
            &:hover,
            &:focus {
              text-decoration: none;
              &:after {
                opacity: 0;
              }
            }
            span[class^="raliance-"] {
              position: relative;
              font-size: 15px;
              padding-right: 11px;
              top: -1px;
              &:before {
                color: $color-text3;
                @include transition($transition-link);
              }
            }
            .red & {
              color: $color-text4;
              &:after {
                background-color: $color-bg4;
              }
              span[class^="raliance-"] {
                &:before {
                  color: $color-text4;
                }
              }
            }
            .orange & {
              color: $color-text5;
              &:after {
                background-color: $color-bg5;
              }
              span[class^="raliance-"] {
                &:before {
                  color: $color-text5;
                }
              }
            }
          }
          .result-price {
            display: block;
            margin-bottom: 14px;
            font-size: $size-smaller;
            line-height: $line-height-middle;
            color: #b0b0b0;
          }