a.btn-jump-to-content,
.btn-jump-to-content {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: $bold;
  color: $color-text;
  text-align: center;
  text-decoration: none;
  background: #fff;
  z-index: -9999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  &:hover {
    color: $color-text3;
    text-decoration: none;
  }
  &:focus {
    opacity: 1;
    z-index: 9999;
  }
}


a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 12px 16px 9px;
  font-size: $size-main;
  font-weight: $bold;
  line-height: $line-height-middle;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $color-bg3;
  @include border-radius(4em);
  background-color: $color-bg3;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $color-text3;
    background-color: transparent;
  }
  span[class^="raliance-"] {
    position: relative;
    font-size: 14px;
    line-height: 12px;
    left: -2px;
    top: 1px;
    &:before {
      @include transition($transition-link);
    }
  }
  &.small {
    min-width: 148px;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: $size-13;
    line-height: 1.2;
    letter-spacing: .02em;
  }
  &.big {
    padding-top: 20px;
    padding-bottom: 19px;
    min-width: 280px;
    font-family: $font-gotham;
    font-weight: $medium;
    font-size: 20px;
    text-transform: initial;
  }
  &.yellow {
    background-color: $color-bg5;
    border-color: $color-bg5;
    &:hover,
    &:focus {
      color: $color-text5;
      background-color: transparent;
    }
  }
  &.red {
    border-color: $color-bg4;
    background-color: $color-bg4;
    &:hover,
    &:focus {
      color: $color-text4;
      background-color: transparent;
      .raliance-arrow-go-inverse:before {
        color: $color-text4;
      }
    }
  }
  &.orange {}
  &.grey {
    background-color: $color-bg10;
    border-color: $color-bg10;
    &:hover,
    &:focus {
      color: $color-text10;
      background-color: transparent;
    }
    &.inverse {
      color: $color-text10;
      background-color: transparent;
      &:hover,
      &:focus {
        color: $white;
        background-color: $color-bg10;
      }
    }
  }
}

