// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// TRANSITION
@mixin transition($properties: $transition-other) {
  @include css3-prefix('transition', $properties);
}

// BORDER RADIUS
@mixin border-radius($radius: $radius-main) {
  @include css3-prefix('border-radius', $radius);
}

// FONT
@mixin font($weight: $normal, $size: $size-main, $family: $font-main, $line-height: $line-height) {
  font: $weight #{$size}/#{$line-height} $family;
}

// BACKGROUND IMAGE
@mixin bg($bg_position: center, $bg_size: cover, $bg_repeat: no-repeat) {
  background: {
    position: $bg_position;
    size: $bg_size;
    repeat: $bg_repeat;
  }
}

// BACKGROUND header GRADIENT
@mixin header-background-gradient($color: #121617, $to: 60%) {
  background-color: transparent;
  background-image: -webkit-linear-gradient(180deg, $color 0%, rgba($color, .29) $to, rgba($color, 0) 100%);
  background-image:    -moz-linear-gradient(180deg, $color 0%, rgba($color, .29) $to, rgba($color, 0) 100%);
  background-image:     -ms-linear-gradient(180deg, $color 0%, rgba($color, .29) $to, rgba($color, 0) 100%);
  background-image:      -o-linear-gradient(180deg, $color 0%, rgba($color, .29) $to, rgba($color, 0) 100%);
  background-image:         linear-gradient(180deg, $color 0%, rgba($color, .29) $to, rgba($color, 0) 100%);
}

@mixin overlay-background-gradient($color: #121617, $opacity-f: .29, $to: 50%, $opacity-l: .14, $deg: 180deg) {
  background-color: transparent;
  background-image: -webkit-linear-gradient($deg, rgba($color, $opacity-f) $to, rgba($color, $opacity-l) 100%);
  background-image:    -moz-linear-gradient($deg, rgba($color, $opacity-f) $to, rgba($color, $opacity-l) 100%);
  background-image:     -ms-linear-gradient($deg, rgba($color, $opacity-f) $to, rgba($color, $opacity-l) 100%);
  background-image:      -o-linear-gradient($deg, rgba($color, $opacity-f) $to, rgba($color, $opacity-l) 100%);
  background-image:         linear-gradient($deg, rgba($color, $opacity-f) $to, rgba($color, $opacity-l) 100%);
}
@mixin text-background-gradient($deg: 360deg, $color-1: #05BCC9, $color-2: #FBBF20) {
  background: -webkit-linear-gradient($deg, $color-1, $color-2);
  background:    -moz-linear-gradient($deg, $color-1, $color-2);
  background:     -ms-linear-gradient($deg, $color-1, $color-2);
  background:      -o-linear-gradient($deg, $color-1, $color-2);
  background:         linear-gradient($deg, $color-1, $color-2);
}

//TRANSFORM
@mixin transform ( $x: -50%, $y: -50% ) {
  @include css3-prefix('transform', translate($x, $y));
}



