/*fonts*/
$font-main: 'Roboto', Arial, sans-serif;
$font-gotham: 'Gotham', $font-main;

/*fonts-weight*/
$light: 300; //book
$normal: 400;
$medium: 500;
$bold: 700;
$black: 900;

/*fonts-size*/
$size-13: 13px;
$size-smaller: 14px;
$size-small: 16px;
$size-main: 18px;
$size-big: 24px;
$size-30: 30px;
$size-40: 40px;
$size-heading1: 60px;
$size-heading2: 36px;
$size-heading3: 32px;
$size-heading-30: 30px;
$size-heading-21: 21px;

/*line-height*/
$line-height: 1.4;
$line-height-big: 1.6;
$line-height-middle: 1.2;
$line-height-heading: 1;

/*colors*/
$white: #ffffff;
$color-text: #121617;
$color-text2: #FBBF20;
$color-text3: #05BCC9;
$color-text4: #CB3433;
$color-text5: #E48E24;
$color-text6: #D7DDDF;
$color-text9: #8B84DB;

$color-bg-white: $white;
$color-bg: #121617;
$color-bg2: #FBBF20;
$color-bg3: #05BCC9;
$color-bg4: #CB3433;
$color-bg5: #E48E24;
$color-bg6: #D7DDDF;
$color-bg7: #E6E7E9;
$color-bg8: #F9FAFC;

/*transition*/
$transition-link: 0.2s;
$transition-other: 0.35s;

/*border-radius*/
$radius-main: 5px;
//$radius-small: 5px;
